@media (min-width: 0) {
  .google-map > div {
    z-index: -1;
  }
  #contact {
    position: relative;
    color: #fff;
    text-align: center;
  }
  .contact {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50%;
    right: 50%;
    margin-right: -50%;
    width: 100%;
  }
  .mail {
    color: #fff;
    display: inline-block;
    margin: 10px auto 50px;
  }
  .contact-images {
    display: flex;
    justify-content: space-around;
  }
}

@media (min-width: 768px) {
  .contact-images {
    justify-content: center;
    align-items: center;
  }

  .contact-images a:nth-child(2) {
    margin-left: 20px;
  }
}
