.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    background-position: left;
    background-size: cover;
}
.hero-image div {
    text-align: center;
}
.hero-image p {
    color: #fff;
    font-size: 4rem;
    font-weight: bold;
}