.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    background-position: left;
    background-size: cover;
}
.hero-image div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: -5% -28% 0 0;
}
.hero-image p, .hero-image h2, .hero-image h1 {
    color: #fff;
    font-size: 3em;
    margin: 5px;
    font-weight: 400;

}